.header { padding: 20px 20px 0 20px; }

.header-order-icon { padding-left: 20px; }

.header-order-link { display: none; position: absolute; background-color: #ca07a6; width: 300px; height: 45px; border-radius: 25px; color: #fff; top: 92%; right: 40px; font-size: 16px; font-weight: 400; text-decoration: none; text-transform: uppercase; font-family: "Work Sans", sans-serif; font-weight: 400; }

.header-order-link-span { font-weight: 700; padding: 3px; }

.contact { display: none; }

.logo-desktop { display: none; }

@media all and (min-width: 1024px) { .header { padding: 40px 120px 0 40px; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: start; align-items: flex-start; width: 100%; }
  .header-order-link { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }
  .contact { display: -ms-flexbox; display: flex; color: #fff; font-size: 14px; width: 100%; text-align: center; padding-left: 50px; }
  .contact-paragraph { padding-right: 10px; }
  .contact a { text-decoration: none; color: #fff; padding-right: 20px; }
  .contact a:nth-child(4) { color: #cd8821; } }

@media all and (min-width: 1200px) { .logo { display: none; }
  .logo-desktop { display: block; }
  .contact { position: absolute; left: 50%; top: auto; transform: translate(-50%, 0); width: auto; padding-left: 0; } }

@media all and (min-width: 1500px) { .header-order-link { top: 40px; right: 40px; }
  .contact { font-size: 18px; }
  .contact-paragraph { padding-right: 25px; } }

@media all and (min-width: 1550px) { .contact { font-size: 18px; } }

.section { padding: 0 10px; max-width: 1270px; margin: 0 auto; opacity: 1; }

.owl-carousel { max-width: 1200px; width: 80%; margin: 0 auto; }

.owl-nav { padding: 0 3%; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; width: 100vw; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -190%); }

.owl-nav button { width: 60px; height: 60px; background-color: #cd8821 !important; border-radius: 50%; border: 1px solid white; position: relative; }

.owl-nav button > span { color: #000; font-size: 50px; position: absolute; top: -5px; left: 22px; }

.social { display: none; }

.price-container { position: absolute; top: 0; right: 0; overflow: hidden; width: 100px; height: 100px; }

.price { width: 126px; height: 126px; background-color: #fff; color: #2e2e2e; border-radius: 50%; overflow: hidden; position: absolute; top: -35px; right: -35px; transform: rotate(45deg); }

.price-text { position: absolute; bottom: 25px; right: 25px; text-align: center; font-size: 12px; }

.price-text span { font-size: 18px; font-weight: 700; }

.section-header { color: #fff; font-weight: 400; letter-spacing: 1px; padding-top: 25px; padding-bottom: 40px; text-align: center; font-size: 30px; }

.day-one-header-container { background-color: #2e2e2e; width: 100%; }

.day-one-header-container .menu-item-header { color: #cfcfcf; }

.day-one-header-container .menu-item-subheader { color: #fff; padding-bottom: 17px; }

.menu-item-header-container { width: 100%; background-color: #fff; }

.menu-item-header-container .menu-item-header { color: #da963e; }

.menu-item-header-container .menu-subheader { color: #2e2e2e; }

.menu-item { position: relative; }

.menu-item-one { margin-bottom: 60px; }

.menu-item-four, .menu-item-five, .menu-item-six { display: none; }

.menu-item-img-2, .menu-item-img-3 { width: 100%; }

.menu-item-two { margin: 30px auto; }

.menu-item-three { margin: 30px auto 100px auto; }

.menu-item-header { font-size: 12px; text-transform: uppercase; font-weight: 400; padding: 18px 0 12px 23px; }

.menu-item-subheader { font-size: 20px; text-transform: uppercase; padding: 0 0 0 23px; }

.menu-list { color: #000; background-color: #fff; padding-top: 26px; padding-right: 17px; padding-bottom: 25px; }

.menu-list-item { margin-left: 46px; line-height: 1.7; font-size: 14px; }

.menu-img-container { position: relative; overflow: hidden; font-size: 0; height: 150px; background-repeat: no-repeat; background-size: cover; background-position: center; }

.menu-img-container-1 { background-image: url("../../images/day_one.jpg"); }

.menu-img-container-2 { background-image: url("../../images/day_two.jpg"); }

.menu-img-container-3 { background-image: url("../../images/day_three.jpg"); }

.menu-arrow-down { height: 60px; width: 60px; background-color: #cd8821; border-radius: 50%; border: none; position: absolute; bottom: -40px; left: calc(50% - 30px); z-index: 2; }

.fa-angle-down { font-size: 40px; }

.menu-show-btn { display: none; width: 170px; line-height: 3; text-decoration: none; background-color: #cd8821; color: #fff; font-size: 14px; font-family: "Libre Baskerville", serif; font-weight: 700; text-transform: uppercase; text-align: center; border-radius: 33px; position: absolute; bottom: 50px; left: calc(50% - 85px); }

.menu-show-container { display: none; position: absolute; height: 40%; bottom: 0; left: 0; right: 0; background-image: linear-gradient(to top, white 60%, transparent); transition: 0.3s all linear; }

@media all and (min-width: 560px) { .menu-img-container { height: 199px; }
  .menu-container { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .menu-item { padding: 10px; margin: 0; }
  .menu-item-one { width: 100%; }
  .menu-item-two, .menu-item-three { width: 50%; margin: 0 auto 100px auto; -ms-flex-pack: justify; justify-content: space-between; }
  .menu-item-img-2, .menu-item-img-3 { height: 100%; } }

@media all and (min-width: 615px) { .menu-item-img { width: 100%; } }

@media all and (min-width: 1024px) { .section-header { font-size: 36px; padding-top: 60px; padding-bottom: 55px; }
  .social { display: block; position: absolute; left: 40px; bottom: 41px; }
  .social-list { list-style-type: none; display: -ms-flexbox; display: flex; }
  .social-list-item { margin-right: 12px; }
  .social-link { width: 30px; height: 30px; border-radius: 50%; background-color: #cd8821; color: #000; text-decoration: none; display: table-cell; text-align: center; vertical-align: middle; }
  .menu-arrow-down { display: none; }
  .menu-list-one { margin-top: -43px; }
  .menu-item { overflow: hidden; min-height: 650px; background-color: #fff; padding: 0; margin: 0 auto; width: auto; }
  .menu-item-two, .menu-item-three, .menu-item-four, .menu-item-five, .menu-item-six { width: auto; }
  .menu-item-img { height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
  .menu-item-subheader { font-size: 24px; }
  .menu-item-four, .menu-item-five, .menu-item-six { display: block; }
  .day-one-header-container { position: relative; top: -43px; }
  .day-one-header-container .menu-item-header { font-size: 14px; }
  .price { width: 200px; height: 200px; top: -50px; right: -50px; }
  .price-text { font-size: 24px; bottom: 40px; right: 40px; }
  .price-text span { font-size: 30px; }
  .price-container { width: 200px; height: 200px; }
  .menu-show-btn { display: block; }
  .menu-show-container { display: block; }
  .menu-img-container-2 { background-image: url("../../images/day_two_desktop.jpg"); }
  .menu-img-container-3 { background-image: url("../../images/day_three_desktop.jpg"); } }

@media all and (min-width: 1300px) { .menu-list { padding-right: 25px; }
  .menu-list-one .menu-list-item { font-size: 18px; line-height: 1.7; } }

@media all and (min-width: 1500px) { .price { width: 236px; height: 236px; background-color: #414141; top: 44px; right: -35px; transform: rotate(-34deg); display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; z-index: 5; }
  .price-text { position: relative; font-size: 24px; color: #fff; margin-right: -60px; margin-bottom: -30px; }
  .price-text span { font-size: 36px; font-weight: 700; color: #fff; line-height: auto; }
  .price-container { height: 236px; width: 236px; top: calc(100vh - 236px); }
  .menu-container { -ms-flex-pack: justify; justify-content: space-between; }
  .menu-item { max-height: none; margin: 0 8px; }
  .menu-item-one { width: 577px; }
  .day-one-header-container { width: 335px; height: 92px; top: -46px; }
  .owl-carousel { max-width: 1200px; width: auto; margin: 0 auto; } }

@media all and (min-width: 1740px) { .owl-nav { padding: 0 16%; } }

footer { background-color: #cd8821; position: fixed; bottom: 0; left: 0; right: 0; z-index: 11; }

.footer-contact { color: #fff; font-size: 18px; background-color: #cd8821; padding: 30px; position: fixed; bottom: -300px; right: 0; left: 0; transition: 0.3s all linear; z-index: 10; }

.footer-contact.active { bottom: 70px; }

.footer-text { font-weight: 700; padding-bottom: 15px; }

.footer-phone { text-decoration: none; color: #fff; line-height: 34px; padding-left: 40px; font-weight: 400; }

.footer-phone-container { position: relative; }

.footer-numbers-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.footer-mail { color: #fff; text-decoration: none; line-height: 48px; padding-left: 15px; }

.footer-order-link { width: 100%; height: 70px; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; text-decoration: none; text-transform: uppercase; font-family: "Work Sans", sans-serif; font-size: 14px; font-weight: 700; color: #fff; background-color: #d78f32; text-align: right; padding-right: 15px; }

.footer-order-link-two { color: #010101; background-color: #fff; text-align: left; padding-left: 15px; }

.footer-order-img { padding: 20px; }

.footer-btn-container { display: -ms-flexbox; display: flex; }

.footer-order-icon { padding: 20px; font-size: 24px; }

.fa-phone { transform: rotate(90deg); font-size: 20px; position: absolute; top: 8px; left: 0; }

.fa-envelope { font-size: 20px; }

@media all and (min-width: 1024px) { footer { display: none; } }

* { padding: 0; margin: 0; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body { margin: 0 auto; background-color: #000; font-family: "Libre Baskerville", serif; background-image: url("../../images/background.png"); background-repeat: no-repeat; background-size: cover; position: relative; }

button { border: none; outline: none; }

button:hover { cursor: pointer; }

.container { margin: 0 auto; width: 1840px; max-width: 100%; }

@media all and (min-width: 500px) { body { background-image: none; }
  body::after { content: ''; background-image: url("../../images/background_desktop_full.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; opacity: 0.3; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; } }

@media all and (min-width: 1024px) { body { min-height: 100vh; } }
/*# sourceMappingURL=main.css.map */