//Global CSS

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// border: 1px solid red;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0 auto;
	background-color: $black;
	font-family: $libre-baskerville;
	background-image: url('../../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

button {
	border: none;
	outline: none;

	&:hover {
		cursor: pointer;
	}
}

.container {
	margin: 0 auto;
	width: 1840px;
	max-width: 100%;
}

//RWD ===================================================
//Min width 500px
@media all and (min-width: 500px) {
	body {
		background-image: none;
	}

	body::after {
		content: '';
		background-image: url('../../images/background_desktop_full.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.3;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}

//Min width 1024p
@media all and (min-width: 1024px) {
	body {
		min-height: 100vh;
	}
}
