//Colors
$black: #000;
$white: #fff;
$actual-date: #cfcfcf;
$dark-gray: #2e2e2e;
$orange: #cd8821;
$contact-background: #f0a638;
$contact-order-link: #d78f32;
$order-link: #010101;
$menu-header: #da963e;
$price-bcg-color: #414141;
$order-btn-pink: #ca07a6;
