//Fonts
$libre-baskerville: 'Libre Baskerville', serif;
$work-sans: 'Work Sans', sans-serif;

//Font size
// 8 12 14 18 20 24 30
$font-size-xxs: 8px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 30px;
$font-size-xxxl: 36px;
$font-size-xxxxl: 40px;
