//Footer section
footer {
	background-color: $orange;
	position: fixed;
	bottom: 0;
	left: 0;
  right: 0;
  z-index: 11;
}

.footer {
	&-contact {
		color: $white;
		font-size: $font-size-m;
		background-color: $orange;
		padding: 30px;
		position: fixed;
		bottom: -300px;
		right: 0;
		left: 0;
    transition: 0.3s all linear;
    z-index: 10;
	}

	&-contact.active {
		bottom: 70px;
	}

	&-text {
		font-weight: 700;
		padding-bottom: 15px;
	}

	&-phone {
		text-decoration: none;
		color: $white;
		line-height: 34px;
		padding-left: 40px;
		font-weight: 400;
	}

	&-phone-container {
		position: relative;
	}

	&-numbers-container {
		display: flex;
		flex-direction: column;
	}

	&-mail {
		color: $white;
		text-decoration: none;
		line-height: 48px;
		padding-left: 15px;
	}

	&-order-link {
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $work-sans;
		font-size: $font-size-s;
		font-weight: 700;
		color: $white;
		background-color: $contact-order-link;
		text-align: right;
		padding-right: 15px;
	}

	&-order-link-two {
		color: $order-link;
		background-color: $white;
		text-align: left;
		padding-left: 15px;
	}

	&-order-img {
		padding: 20px;
	}

	&-btn-container {
		display: flex;
	}

	&-order-icon {
		padding: 20px;
		font-size: $font-size-xl;
	}
}

.fa-phone {
	transform: rotate(90deg);
	font-size: $font-size-l;
	position: absolute;
	top: 8px;
	left: 0;
}

.fa-envelope {
	font-size: $font-size-l;
}

//RWD====================================================================
//Min width 1024px
@media all and (min-width: 1024px) {
	footer {
		display: none;
	}
}

//Min width 1400px
@media all and(min-width: 1400px) {
}
