//Header section
.header {
	padding: 20px 20px 0 20px;

	&-order-icon {
		padding-left: 20px;
	}

	&-order-link {
		display: none;
		position: absolute;
		background-color: $order-btn-pink;
		width: 300px;
		height: 45px;
		border-radius: 25px;
		color: $white;
		top: 92%;
		right: 40px;
		font-size: 16px;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $work-sans;
		font-weight: 400;

		&-span {
			font-weight: 700;
			padding: 3px;
		}
	}
}

.contact {
	display: none;
}

.logo-desktop {
	display: none;
}

//RWD
//Min width 1024px
@media all and (min-width: 1024px) {
	.header {
		padding: 40px 120px 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		&-order-link {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.contact {
		display: flex;
		color: $white;
		font-size: $font-size-s;
		width: 100%;
		text-align: center;
		padding-left: 50px;

		&-paragraph {
			padding-right: 10px;
		}

		a {
			text-decoration: none;
			color: $white;
			padding-right: 20px;

			&:nth-child(4) {
				color: $orange;
			}
		}
	}
}

//Min width 1200px
@media all and (min-width: 1200px) {
	.logo {
		display: none;
	}

	.logo-desktop {
		display: block;
	}

	.contact {
		position: absolute;
		left: 50%;
		top: auto;
		transform: translate(-50%, 0);
		width: auto;
		padding-left: 0;
	}
}

//Min width 1500px
@media all and(min-width: 1500px) {
	.header {
		&-order-link {
			top: 40px;
			right: 40px;
		}
	}

	.contact {
		font-size: $font-size-m;

		&-paragraph {
			padding-right: 25px;
		}
	}
}

//min width 1600px
@media all and (min-width: 1550px) {
	.contact {
		font-size: $font-size-m;
	}
}
