//Section

.section {
	padding: 0 10px;
	max-width: 1270px;
	margin: 0 auto;
	opacity: 1;
}

.owl-carousel {
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

.owl-nav {
	padding: 0 3%;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -190%);

	button {
		width: 60px;
		height: 60px;
		background-color: $orange !important;
		border-radius: 50%;
		border: 1px solid white;
		position: relative;

		> span {
			color: $black;
			font-size: 50px;
			position: absolute;
			top: -5px;
			left: 22px;
		}
	}
}

.social {
	display: none;
}

.price-container {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.price {
	width: 126px;
	height: 126px;
	background-color: $white;
	color: $dark-gray;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: -35px;
	right: -35px;
	transform: rotate(45deg);

	&-text {
		position: absolute;
		bottom: 25px;
		right: 25px;
		text-align: center;
		font-size: $font-size-xs;

		span {
			font-size: $font-size-m;
			font-weight: 700;
		}
	}
}

.section-header {
	color: $white;
	font-weight: 400;
	letter-spacing: 1px;
	padding-top: 25px;
	padding-bottom: 40px;
	text-align: center;
	font-size: $font-size-xxl;
}

.day-one-header-container {
	background-color: $dark-gray;
	width: 100%;

	.menu-item-header {
		color: $actual-date;
	}

	.menu-item-subheader {
		color: $white;
		padding-bottom: 17px;
	}
}

.menu-item-header-container {
	width: 100%;
	background-color: $white;

	.menu-item-header {
		color: $menu-header;
	}

	.menu-subheader {
		color: $dark-gray;
	}
}

.menu-item {
	position: relative;
	&-one {
		margin-bottom: 60px;
	}

	&-four,
	&-five,
	&-six {
		display: none;
	}

	&-img-2,
	&-img-3 {
		width: 100%;
	}

	&-two {
		margin: 30px auto;
	}

	&-three {
		margin: 30px auto 100px auto;
	}

	&-header {
		font-size: $font-size-xs;
		text-transform: uppercase;
		font-weight: 400;
		padding: 18px 0 12px 23px;
	}

	&-subheader {
		font-size: $font-size-l;
		text-transform: uppercase;
		padding: 0 0 0 23px;
	}
}

.menu-list {
	color: $black;
	background-color: $white;
	padding-top: 26px;
	padding-right: 17px;
	padding-bottom: 25px;

	&-item {
		margin-left: 46px;
		line-height: 1.7;
		font-size: $font-size-s;
	}
}

.menu-img-container {
	position: relative;
	overflow: hidden;
	font-size: 0;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&-1 {
		background-image: url('../../images/day_one.jpg');
	}

	&-2 {
		background-image: url('../../images/day_two.jpg');
	}

	&-3 {
		background-image: url('../../images/day_three.jpg');
	}
}

.menu-arrow-down {
	height: 60px;
	width: 60px;
	background-color: $orange;
	border-radius: 50%;
	border: none;
	position: absolute;
	bottom: -40px;
	left: calc(50% - 30px);
	z-index: 2;
}

.fa-angle-down {
	font-size: $font-size-xxxxl;
}

.menu-show-btn {
	display: none;
	width: 170px;
	line-height: 3;
	text-decoration: none;
	background-color: $orange;
	color: $white;
	font-size: $font-size-s;
	font-family: $libre-baskerville;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	border-radius: 33px;
	position: absolute;
	bottom: 50px;
	left: calc(50% - 85px);
}

.menu-show-container {
	display: none;
	position: absolute;
	height: 40%;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to top, white 60%, transparent);
	transition: 0.3s all linear;
}

//RWD=================================================
//Min width 560px
@media all and (min-width: 560px) {
	.menu-img-container {
		height: 199px;
	}

	.menu-container {
		display: flex;
		flex-wrap: wrap;
	}

	.menu-item {
		padding: 10px;
		margin: 0;
	}

	.menu-item-one {
		width: 100%;
	}

	.menu-item-two,
	.menu-item-three {
		width: 50%;
		margin: 0 auto 100px auto;
		justify-content: space-between;
	}

	.menu-item-img-2,
	.menu-item-img-3 {
		height: 100%;
	}
}

//Min width 615px
@media all and (min-width: 615px) {
	.menu-item {
		&-img {
			width: 100%;
		}
	}
}

//Min width 1024px
@media all and (min-width: 1024px) {
	.section-header {
		font-size: $font-size-xxxl;
		padding-top: 60px;
		padding-bottom: 55px;
	}

	.social {
		display: block;
		position: absolute;
		left: 40px;
		bottom: 41px;

		&-list {
			list-style-type: none;
			display: flex;
		}

		&-list-item {
			margin-right: 12px;
		}

		&-link {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: $orange;
			color: $black;
			text-decoration: none;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}

	.menu-arrow-down {
		display: none;
	}

	.menu-list-one {
		margin-top: -43px;
	}

	.menu-item {
		overflow: hidden;
		min-height: 650px;
		background-color: $white;
		padding: 0;
		margin: 0 auto;
		width: auto;

		&-two,
		&-three,
		&-four,
		&-five,
		&-six {
			width: auto;
		}

		&-img {
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&-subheader {
			font-size: $font-size-xl;
		}

		&-four,
		&-five,
		&-six {
			display: block;
		}
	}

	.day-one-header-container {
		position: relative;
		top: -43px;

		.menu-item-header {
			font-size: $font-size-s;
		}
	}

	.price {
		width: 200px;
		height: 200px;
		top: -50px;
		right: -50px;

		&-text {
			font-size: $font-size-xl;
			bottom: 40px;
			right: 40px;

			span {
				font-size: $font-size-xxl;
			}
		}

		&-container {
			width: 200px;
			height: 200px;
		}
	}

	.menu-show-btn {
		display: block;
	}

	.menu-show-container {
		display: block;
	}

	.menu-img-container {
		&-2 {
			background-image: url('../../images/day_two_desktop.jpg');
		}

		&-3 {
			background-image: url('../../images/day_three_desktop.jpg');
		}
	}
}

//Min width 1300px
@media all and (min-width: 1300px) {
	.menu-list {
		padding-right: 25px;
	}

	.menu-list-one {
		.menu-list-item {
			font-size: $font-size-m;
			line-height: 1.7;
		}
	}
}

//Min with 1500px
@media all and (min-width: 1500px) {
	.price {
		width: 236px;
		height: 236px;
		background-color: $price-bcg-color;
		top: 44px;
		right: -35px;
		transform: rotate(-34deg);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;

		&-text {
			position: relative;
			font-size: $font-size-xl;
			color: $white;
			margin-right: -60px;
			margin-bottom: -30px;

			span {
				font-size: $font-size-xxxl;
				font-weight: 700;
				color: $white;
				line-height: auto;
			}
		}
	}

	.price-container {
		height: 236px;
		width: 236px;
		top: calc(100vh - 236px);
	}

	.menu-container {
		justify-content: space-between;
	}

	.menu-item {
		max-height: none;
		margin: 0 8px;

		&-one {
			width: 577px;
		}
	}

	.day-one-header-container {
		width: 335px;
		height: 92px;
		top: -46px;
	}

	.owl-carousel {
		max-width: 1200px;
		width: auto;
		margin: 0 auto;
	}
}

//Min width 1740px
@media all and (min-width: 1740px) {
	.owl-nav {
		padding: 0 16%;
	}
}
